@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*-----------------------------------------------------------------------------------GLOBAIS--------------------------------------------------------------------------------------*/
:root {
  --font-padrao: "Lato", sans-serif;
}

* {
  font-family: var(--font-padrao);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(180deg, rgb(88, 170, 218), white);
}

/*-------------------------------------------------------------------------------------INPUTS---------------------------------------------------------------------------------------*/
.hide {
  display: none;
}

/*container principal*/
.container {
  background-color: rgb(42, 73, 114);
  padding: 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.548);
}

/*todos os paragrafos do container principal*/
.container p {
  color: rgb(247, 247, 247);
  text-align: center;
  padding: 0.5em;
}

/*área da barra de texto e do botão de submit*/
.input_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*estilização da barra de texto*/
.input_container input{
  all: unset;
  flex: 0fr;
  background-color:rgb(247, 247, 247);
  padding: 0.5em;
  border-radius: 0.5em;
  margin-right: 3px;
}

/*estilização do botão de submit*/
.input_container button {
  all: unset;
  background-color:  rgb(88, 170, 218);
  color: white;
  padding: 0.5em 1em;
  border-radius: 8px;
  cursor: pointer;
}

/*-----------------------------------------------------------RESULTADOS DA API-------------------------------------------------------------*/

/*titulo onde é escrito os nomes das cidades ou países*/
#weather-data h2{
  text-align: center;
  color: rgb(241, 241, 241);
  padding-top: 1em;
  border-top: 2px solid white;
  margin-top: 1em;
}

/*bandeira ao lado dos países ou cidades*/
#weather-data img {
  height: 15px;
  width: 21px;
}

/*container onde fica informações como condições do tempo e seus respectivos ícones*/
#decription_container  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*paragrafo de descrição do clima*/
#description {
  font-weight: bold;
  text-transform: capitalize;
}

/*icone abaixo da descrição de imagem, que a ilustra.*/
#decription_container img {
  height:40px;
  width: 40px;
}

/*container onde fica informações como umidade e vento*/
#details_container {
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
#details_container i {
  padding: 3px;
}
#details_container p {
  width: 6em;
  padding: 10px;
}
#details_container  #umidity{
  border-right: 1px solid white;
}

